@use "./main.scss";

/* Home Page */
.home-container {
  text-align: center;

  h1 {
    color: main.$primary-color;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
  }

  .card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;

    &:hover {
      transform: scale(1.03);
      box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.15);
    }

    h2 {
      font-size: 18px;
      color: main.$text-color;
    }

    .read-more {
      color: main.$primary-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  // search and filter
  .controls {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
  
    input,
    select {
      padding: 10px;
      border: 1px solid main.$light-gray;
      border-radius: 5px;
      font-size: 16px;
    }
  
    input {
      width: 300px;
    }
  
    select {
      width: 150px;
    }
  }
  
  /* Grid Layout */
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
  }
  
  .pagination button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .pagination button:hover {
    background-color: #0056b3;
  }
  
  .pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .pagination span {
    font-size: 16px;
    font-weight: bold;
  }
  

}

/* Details Page */
.details-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

  h1 {
    font-size: 24px;
    color: main.$text-color;
  }

  p {
    font-size: 16px;
    color: main.$text-color;
  }

  .back-link {
    display: inline-block;
    margin-top: 15px;
    color: main.$primary-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
